<div class="login-container">
  <mat-card class="login-card" [formGroup]="signupFormGroup">
    <mat-card-title class="login-card-title">
      Sign Up
    </mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
        <mat-error *ngIf="usernameFormControl?.hasError('required')">Username is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
        <mat-error *ngIf="passwordFormControl?.hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="passwordFormControl?.hasError('minlength')">Password must be at least 6 characters long.</mat-error>
      </mat-form-field>
      <button class="submit-button" mat-raised-button color="primary" (click)="onSubmitClicked()">Submit</button>
      <div class="signup-container">
        <button mat-flat-button class="signup-text" routerLink="/auth/login">You have an account? Login instead.</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
