.empty-cart {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.cart-products-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cart-overlay-total-price {
  text-align: right;
}

.total-price-text {
  color: #fb701d;
}
